.lead {
  height: 100%;
  max-width: 984px;
  max-height: 1005px;
  margin-left: 148px;
  margin-right: 148px;
  margin-top: 56px;
}

@media screen and (max-width: 1024px) {
  .lead {
    margin-left: 48px;
    margin-right: 48px;
    margin-top: 48px;
    max-width: 928px;
    max-height: 962px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    margin-left: 0;
    margin-right: 0;
    margin-top: 48px;
    max-width: 768px;
    max-height: 862px;
  }
}

@media screen and (max-width: 425px) {
  .lead {
    margin-left: 0;
    margin-right: 0;
    margin-top: 48px;
    max-width: 320px;
    max-height: 406px;
  }
}
