.cover {
  position: relative;
  max-width: 1184px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  text-decoration: none;
  color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
  .cover {
    height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    height: 480px;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    height: 200px;
  }
}
